.pio
.pioenvs
.piolibdeps
.vscode
.travis.yml
.vscode/c_cpp_properties.json
.vscode/settings.json
.vscode/launch.json
.vscode/*.db
.vscode/.browse.c_cpp.db*
.clang_complete
.gcc-flags.json
src/loraconf.h
src/ota.conf